*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
  background-color: aqua;
}
.startButton{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

start Button